div.image{
  height:150px;
  width:300px;
  padding-right:5px;
}

div.imagehome{
  position: relative;
  height:240px;
  width:300px;
}

p.parahome{
  font-size:18px;
  color:#FFF !important;
  text-transform: uppercase;
  overflow:hidden;
}

.img_layer{
  width: 100%;
  height: 240px;
  position: absolute;
  float: left;
  transition: .3s;
}

.img_layer:hover{
  background-color:rgba(0, 255, 255, 0.3);
  transition: .3s;
  -webkit-animation: img_layer 2s infinite;
}

a.grid{
  width:300px;
  margin:25px;
  float:left;
  border-radius:5px;
  display: table;
  transition: .4s;
}

@keyframes img_layer {
  0% {
    background-color:rgba(0, 255, 255, 0.2);
  }
  50% {
    background-color:rgba(0, 255, 255, 0.4);
  }
  100% {
    background-color:rgba(0, 255, 255, 0.2);
  }
}

a.grid:hover{
  transition: .3s;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-decoration: none;
  background-color:rgba(0, 255, 255, 0.7);
}

a.grid .imagehome > img {
  width:100%;
  height:100%;
}

div.descri{
  height:90px;
  width:300px;
  text-align:center;
  overflow:hidden;
}

div.edic{
  height:55px;
  width: 100%;
  padding: 10px 0;
  text-align:center;
  border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: .5s;
}

div:hover{
  border-color:#0FF !important;
}

.btnp{
  font-size:16px !important;
}

div.det{
  width:1100px;
  height:500px;
  border:solid;
  border-color:#0FF;
}

div.imgdet{
  width:400px;
  height:500px;
  border-color:darkturquoise;
  padding-right:1px;
  float:left;
}

div.nomedescdet{
  width:600px;
  height:400px;
  position:relative;
  text-align:left;
  float:right;
  z-index:2;
}
